#header {
    height: 110px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
#header .logo h1 a, #header .logo h1 a:hover {
    color: #413e66;
    text-decoration: none;
}